<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="png" href="{{url_for('static',filename='images/icon/favicon.png')}}">
	<title>Login SignUp</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='loginStyle.css') }}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<!-- It will redirect to the Home Page after submitting the form -->
	<script>
		$(document).ready(function () {
			$("form").submit(function () {
				alert("Great Job !");
			});
		});
	</script>
</head>

<body>
	<div class="form-box">
		<div class="button-box">
			<div id="btn"></div>
			<button type="button" class="toggle-btn" id="log" onclick="login()" style="color: #fff;">Log In</button>
			<button type="button" class="toggle-btn" id="reg" onclick="register()">Register</button>
		</div>
		<div class="social-icons">
			<img src="{{url_for('static', filename = 'images/icon/fb2.png')}}">
			<img src="{{url_for('static', filename = 'images/icon/insta2.png')}}">
			<img src="{{url_for('static', filename = 'images/icon/tt2.png')}}">
		</div>

		<!-- Login Form -->
		<form id="login" class="input-group" method="post">
			<div class="inp">
				<img src="{{url_for('static', filename = 'images/icon/user.png')}}"><input type="text" id="lemail" class="input-field"
					placeholder="Email id" style="width: 88%; border:none;" required="required" name="user">
			</div>
			<div class="inp">
				<img src="{{url_for('static', filename = 'images/icon/password.png')}}"><input type="password" id="lpassword" class="input-field"
					placeholder="Password" style="width: 88%; border: none;" required="required" name="lpassword">
			</div>
			<input type="checkbox" class="check-box">Remember Password
			<button type="button" class="submit-btn" onclick="login()">Log In</button>
		</form>


		<div class="other" id="other">
			<div class="instead">
				<h3>or</h3>
			</div>
			<button class="connect" onclick="google()">
				<img src="{{url_for('static', filename = 'images/icon/google.png')}}"><span>Sign in with Google</span>
			</button>
		</div>

		<!-- Registration Form -->
		<form id="register" class="input-group">
		<input type="text" class="input-field" placeholder="Full Name" required name="user" id="user" value="">
		<input type="email" class="input-field" placeholder="Email Address" required name="semail" id="semail" value=""><span id="error-email">Email already exists</span>
		<input type="password" class="input-field" placeholder="Create Password" required name="spassword"id="spassword" value="">  
		<input type="password" class="input-field" placeholder="Confirm Password" required id="cpassword" value=""><span id="error">hello</span>
		<input type="checkbox" class="check-box" id="chkAgree" onclick="goFurther()">I agree to the Terms &
		Conditions
		<button type="button" id="btnSubmit" class="submit-btn reg-btn" onclick="signup()">Register</button>
		</form>
	</div>
	<script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>
</body>

</html>